/* Header Bar */ 
.navbar-default {
    background: none;
}

.navbar-brand {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-left: 50px;
    padding-right: 50px;
}

/* Brand */
.navbar-default .navbar-brand {
    color: #6e2993;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: #6e2993;
}

/* Links */
.navbar-default .navbar-nav > li > a {
    color: #aaa;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #383838;
    box-shadow: inset 0px 0px 20px #d8d8d8;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #6e2993;
    background: none;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #6e2993;
    background: none;
}

/* Dropdown Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #aaa;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #383838;
}

.navbar-default .navbar-nav > .open > a .caret
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #6e2993;
}

.navbar-default .navbar-nav > .open > a
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    box-shadow: none;
}

/* Dropdown Menu */ 
.dropdown-menu > li > a {
    color: #aaa; 
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #383838;
    box-shadow: inset 0px 0px 20px #d8d8d8;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
    color: #6e2993;
    background: none;
}

.dropdown-menu {
    border-top: 3px solid transparent;
    box-shadow: none;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}
p, div {
    font-family: 'Roboto Slab';
}