/* Header Bar */ 
.navbar-default {
    background: none;
}

.navbar-brand {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav > li {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu > li {
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu > li > a {
    padding: 10px;
}

.navbar-collapse.in {
    max-height: 50%;
        overflow-y: auto;
}

/* Brand */
.navbar-default .navbar-brand {
    color: #6e2993;
    font-weight: 700;
}

.navbar-default .navbar-brand:hover {
    color: #6e2993;
}

/* Links */
.navbar-default .navbar-nav > li > a {
    color: #aaa;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #383838;
    border-bottom: 3px solid transparent;
    border-bottom-color: #383838
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #6e2993;
    border-bottom: 3px solid transparent;
    border-bottom-color: #6e2993;
    background: none;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #6e2993;
    border-bottom: 3px solid transparent;
    border-bottom-color: #6e2993;
    background: none;
}

/* Dropdown Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #aaa;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #383838;
}

.navbar-default .navbar-nav > .open > a .caret
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #6e2993;
}

/* Dropdown Menu */ 
.dropdown-menu > li > a {
    color: #aaa;
    border-bottom: 3px solid;
    border-bottom-color: transparent;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #383838;
    border-bottom: 3px solid;
    border-bottom-color: #383838;
    background: none;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus {
    color: #6e2993;
    border-bottom: 3px solid;
    border-bottom-color: #6e2993;
    background:none !important;
}

.navbar-collapse {
    background:none;
}

.dropdown-menu {
    border-top: 3px solid transparent;
    box-shadow: none;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab';
}
p, div {
    font-family: 'Roboto Slab';
}

/* Dropdown Centering */
document.onreadystatechange = function() {
    if (document.readyState === 'complete') {
        $("ul.ww-nav ul.dropdown-menu").each(function(){
            var parentWidth = $(this).parent().innerWidth();
            var menuWidth = $(this).innerWidth();
            var margin = (parentWidth / 2 ) - (menuWidth / 2);
            margin = margin + "px";
            $(this).css("margin-left", margin);
        });
    }
}